<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
            <li class="nav-item">
                <a href="{{ path('index') }}" class="nav-link">
                    <i class="nav-icon fas fa-home"></i>
                    <p>Index</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('azure_blob_storage_index') }}" class="nav-link">
                    <i class="nav-icon fas fa-file-image -alt"></i>
                    <p>Azure Blob Storage</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('azure_service_bus_index') }}" class="nav-link">
                    <i class="nav-icon fas fa-arrow-right-arrow-left"></i>
                    <p>Azure Service Bus</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>